<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2534597503-r027vg08rh9raglu6vnqcd4qu2j1guhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2534597503-r027vg08rh9raglu6vnqcd4qu2j1guhb</string>
	<key>API_KEY</key>
	<string>AIzaSyB1T5nq0h3L0jyDdFFZsWJtHhsjr5mcVMY</string>
	<key>GCM_SENDER_ID</key>
	<string>2534597503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sims</string>
	<key>PROJECT_ID</key>
	<string>sims-c73f6</string>
	<key>STORAGE_BUCKET</key>
	<string>sims-c73f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2534597503:ios:ea21fc026b09c2cdad304a</string>
</dict>
</plist>